<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <img src="/images/Mindraw logo 2.PNG" alt="mindraw logo"/>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Draw Your Mind</h1>
        
        <h4>Mindraw is regular mindful drawing workshops that you can drop in at any session.
          <section>
Most of us don’t feel very comfortable with drawing. When people – children or adults – are asked to draw something, it is very common to hear, “I’m not artistic!” or “I’m not creative!” – which to me sounds like if you ask someone to write their name, they say “I’m not a calligrapher!”. We just write our names and we don’t care (at least as much) about how our handwriting looks… we just write our shopping list when we need to, or our notes on the fridge when necessary. 

Drawing is the ALPHABET of CREATIVITY and we need to be creative to live our lives better. When we practice creativity in one way, it does not stop there, we become more creative in other ways. That is how our brains work. 

In Mindraw, we use different drawing techniques to practice creativity and to be self-expressive. Drawing is one of the simplest and most available ways to exercise our creativity. 

Never think you are not creative. You just need to trigger and enable it through practice and Mindraw is one of those ways which I have been practicing it since 2014. 

The moments we are creative, we are fully living our lives. 
-	Mihaly Csikszentmihalyi


</h4>
          
<h3>
  Bring your: self, the rest will be provided!
  </h3>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }} © 2019</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
