---
layout: default
---
<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <header style="width: 30%; float: left">
            <h1>Draw Your Mind</h1>
            <section>
                <h4>
                    Mindraw is regular mindful drawing workshops that you can drop in at any session.

                    The idea is to unleash or unblock your ability of creativity and visual thinking by using the strong tool of simple expressive drawings. You don’t need any pre-skills for that.
                    Every session starts with 10 to 15 minutes of Mindfulness Meditation. After that, there is an introduction about that session, then we practice mindful drawing based on the drawing experiments that I explain.
                    You will be able to find out a lot about your “self” and your “mind”. it is a fun challenge!
                    Let me know if you had any questions :)
                </h4>  
                <h3>
                    Bring your: 
                    self, 
                    pens and pencils 
                    & some plain paper
                </h3>
            </section>
        </header>

        <section style="width: 70%; float: right">
        {{ content }}
        </section>
    </div>
</main>